.header__logo{
    width: 60px;
}

.header__stage{
    background-color: transparent;
}

@media (max-width: 767px) {

    .header{

        &__img{
            padding: 20px 0 0 10px;
        }

        &__btn--hide{
            display: none;
        }
    }

    .burger__menu {
        position: fixed;
        right: 10px;
        top: 15px;
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
        background-color: transparent;
        border-width: 0;
        padding: 0;
    }
    
    .bar {
        width: 100%;
        height: 4px;
        margin: 5px 0 0 0;
        background-color: var(--background-svg);
        transition: transform 0.3s ease;
    }
    
    .burger__menu.designopen .bar:nth-child(2) {
        opacity: 0;
    }
    
    .burger__menu.designopen .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .burger__menu.designopen .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    
    .menu__ul {
        position: fixed;
        background-color: var(--background-section);
        width: 100%;
        height: 100%;
        bottom: -100%; /* Animer à partir du bas de l'écran */
        list-style: none;
        padding: 0;
        text-align: center;
        transition: transform 0.5s ease-in-out, bottom 0.5s ease-in-out; /* Transition pour le déplacement et l'apparition */
        z-index: 999;
    }
    
    .menu--open .menu__ul {
        transform: translateY(0); /* Déplacer vers le haut pour afficher */
        bottom: 0; /* Afficher complètement en bas */
    }
    
    .menu__ul a {
        text-decoration: none;
        color: var(--color-white);
        text-align: center;
    }
    
    .menu--open .menu__ul {
        transform: translateY(0px);
    }
    
    .menu__el {
        margin: 50px 0 0 0;
        transform: translateX(20px);
        opacity: 0;
        transition: all 0.5s ease-out;
    }
    
    .menu--open .menu__el {
        transform: translateY(0);
        opacity: 1;
    }
    
    .menu--open .menu__el:nth-child(2) {
        transition-delay: 0.2s;
    }
    
    .menu--open .menu__el:nth-child(3) {
        transition-delay: 0.4s;
    }
    
    .menu--open .menu__el:nth-child(4) {
        transition-delay: 0.6s;
    }
    
    .menu__el:hover a:hover {
        color: var(--background-svg);
    }
    
    .menu__el--active a {
        color: var(--title-big);
    }
}

@media (min-width: 768px) {
    
    .header__sticky {
        position: sticky;
        top: 0;
        z-index: 1000;
        // background-color: var(--background-section);
    
        .header {
            display: flex;
            align-items: center; 
            padding: 16px 40px 10px 40px;

            &__logo{
                padding-bottom: 3px;
            }
    
            &__img {
                display: flex;
            }
    
            .menu {
                margin-left: auto; 
            
                &__ul {
                    display: flex;
                    gap: 40px;
                    padding: 0 0 2px 0;
                }
            
                &__el {
                    list-style: none;
                    align-items: center;
                    position: relative; 
                    overflow: hidden; 
            
                    &.menu__el--active a {
                        color: var(--background-btn);
                    }
            
                }
            
                &__el a {
                    color: var(--title);
                    text-decoration: none;
                    // font-weight: bold;
                    position: relative;
                    display: inline-block;
                    padding: 5px 0; 
                    transition: color 0.3s; 
                }
            
                &__el:hover a,
                &__el:focus a{
                    color: var(--background-btn);
                }
            }
    
            .btn {
                font-size: var(--font-par);
                font-family: "Nunito Sans", sans-serif;
                font-optical-sizing: auto;
                font-style: normal;
                position: relative;
                margin-top: 2px;
                overflow: hidden;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
            
            
                &--talk {
                    background-color: var(--background-btn);
                    border: 1px solid var(--title);
                    padding: 7px 12px 6px 12px;
                    color: var(--title-white);
                    margin-left: 40px; 
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover,
                    &:focus {
                        background-color: var(--title-white);
                        color: var(--background-btn);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 2px;
                        background-color: var(--background-btn);
                        transition: width 0.3s ease, left 0.3s ease;
                    }

                    &:hover::after,
                    &:focus::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
}
