.title{
    
    &--stage{
        font-size: var(--font-big);

    }

    &--h2{
        font-size: var(--font-med);
    }

    &--choice{
        font-size: var(--font-med);

        span{
            text-decoration: underline;
        }
    }

    &--3{
        font-size: var(--font-light);
    }
}

.section_1{
    background-color: var(--background-section);
}

.section-1 {
    background-color: var(--title-white);
}

.grid__stage{
    padding: 20px 20px;
}

.gsap__anim {
	will-change: transform;
	overflow: hidden;
}

.content {
    width: 100%;
    height: auto;
    padding: 0 50px;
}

.sections {
	// height: 100vh;

    .parallax__wrapp {
        width: 100%;
        height: 100%;
        // padding: 50px 0;
    }
}

.serv{

    .parallax__wrapp {
        padding: 200px 0;
    }

    &__wrapp {
        display: flex;
        flex-direction: column;
    }

    &__list {
        position: relative;
        margin-top: auto;
        padding-left: 0;
        z-index: 2;
    }

    .content,
    &__wrapp {
	    height: 100%;
    }

    &__item {
        position: relative;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        padding: 30px 0 30px 30px;
        margin: 0 0 40px 0;
        list-style: none;
        color: var(--title);
        font-size: var(--font-light);
        text-transform: uppercase;
        border: 1px solid var(--title);
        cursor: pointer;

        &--img {
            position: absolute;
            display: block;
            width: 350px;
            height: 400px;
            top: 50%;
            right: 5%;
            pointer-events: none;
            clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
            transform: translateY(-50%);
            transition: .4s;
        }

        &--img video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            background: var(--background-btn);
            color: var(--title-white);
            transition: 0.3s;
            z-index: 2;
        }

        &:hover &--img {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
}


@media (min-width: 768px) {

  .grid__stage{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 61px;
    padding: 61px 0;

    &__title{
        display: inline-block;
    }

    &__line{
        display: block;
    }

    .gri1{
        grid-column: 3 / 9;
    }

    .gri2{
        grid-column: 2 / 9;
    }

    .gri3{
        grid-column: 5 / 9;
    }

    .gri5{
        grid-column: 4 / 10;

    }

    .pad__grid{
        padding: 0 40px 0 20px;
    }

    .gri4{
        grid-column: 2 / 4;
        width: 280px;
        grid-row: 2;
    }

    .color-text{
        padding: 35px 0;
    }
  }
}

@media (max-width: 767px) {

    .grid__stage{
  
      &__title{
          display: inline-block;
      }
  
      &__line{
          display: block;
      }

      .gri4{
        padding: 40px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .title{
    
        &--h2{
            padding: 40px 0;
        }

        &--stage{
            padding: 40px 0 0 0;
        }
    
        &--3{
            padding: 40px 0;
        }

        &--choice{
            padding: 40px 0;
        }
    }
}







